.nav-1{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    gap: 10px;
   align-items: center;
    padding-top: 50px;
    width: 1140px;
    height: 151px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 158px;

}
.nav-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 905px;
    height: 237px;
    
}
.nav-3{
    display: flex;
    justify-content: space-between;
    margin-top: 134px;
    margin-bottom: 116px;
    margin-left: 141px;
    margin-right: 159px;
    gap: 23px;
}
.nav-3 img{
    height: 328px;
    width: 403px;
    border-radius: 45px;
}
.ti{
    color: #4E47FF;
    font-size: 34px;
    width: 99px;
    height: 51px;
}
.btn{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.1);
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
header{
    background-image: url(../Assets/Hero-bg.png);
    width: 1440px;
    height: 698px;
}
.nav-3 h2{
    font-size: 42px;
    font-weight: bold;
}
.nav-3 p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.nav-4{
    text-align: center;
    
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    border-radius: 24px;
    
    
}
.nav-4 h2{
    font-size: 38px;
}
.nav-5{
    display: flex;
    justify-content: center;
gap: 158px;
}

body header div section h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}
section h1{
 font-weight: bold;
  font-size: 65px;
   text-align: center;
}

.open-sans-rale{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
 
  font-variation-settings:
    "wdth" 100;
}

.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.h{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.nav-6{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1140px;
    height: 632px;
    margin: 90px auto 20px auto;
    box-sizing: border-box;

}
.div-column{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 71px;
    margin-bottom: 71px;
    width: 497px;
    height: 490px;
    gap: 20px;
    box-sizing: border-box;
}
.site{
    font-size: 97px;
    font-weight: bold;
    width: 528px;
    height: 232px;
}
.what1{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    margin: 147px 158px 131px 142px;
}
.what2{
    text-align: center;
    font-size: 42px;
}
.what3{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
}
.what4{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: 20px;
    height: 20px;
}
.box{
    box-shadow: inset;
    background-color: rgba(255, 255, 255, 0.5);
    width: 366.67px;
    height: 243px;
    border: 1px solid;
    border-radius: 14px;
    padding: 24px 24px 24px 24px;
}
.what5{
    display: flex;
    
}
.what5 img{
    width: 40px;
    height: 40px;
}
.footer{
display: flex;
flex-direction: column;
background-color: rgba(255, 255, 255, 1);
    align-items: center;
    text-align: center;
    margin: 60px auto;
}
.foot{
    display: flex;
    align-items: center;
font-size: 100px;
font-weight: bold;
color: #4E47FF;
}
.foot1{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    

}
footer div ul{
    list-style: none;
    gap: 48px;
}

.fontf{
    font-family: Arial;
   

}
.foot1 li a{
    text-decoration: none;
}
.input{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #FFFFFF;
}
.massage{
    width: 497px;
    height: 135px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #FFFFFF;
}
.clr{
     color: rgba(137, 135, 161, 1);
}
.size{
    font-size: 97px;
}